// bower:scss
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

#canvas {
  background: #55bb55;
  width: 1000px;
  height: 1000px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#form {
  display: inline-block;
  vertical-align: top;
}

.unit {
  position: absolute;
  &.placed {
    transition: transform 0.3s ease-out;
  }
}

@keyframes spriteplay {
   from { background-position:    0px; }
     to { background-position: -7920px; }
}

.sprite {
    will-change: transform;
    transform: translate3d(0,0,0);
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    width: 264px;
    height: 234px;
    display: block;
    animation: spriteplay 1s steps(30) infinite;
    &:hover {
      cursor: pointer;
      filter: brightness(120%);
    }
}
